<h1>About Us</h1>

<div class="alert alert-info" role="alert">
<p>Welcome to ease of shopping for modern life!</p>
<p>We are a collective of artists who strive to translate our creative impulses into well-crafted items that enhance your modern lifestyle! </p>
</div>
